@media screen and (max-width: 500px)
{
    .inputTypeText {
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
    }
}

.form-question {
    border: 2px solid #ffc4dc;
    border-radius: 50px;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputTypeText {
    display: flex;
    align-items: center;
}

.inputTypeText > input {
    height: 32px;
    margin-left: 10px;
    color: #7d51a0;
    background-color: rgba(125, 81, 160, 0.2);
    border: 1px solid #ffc4dc;
    border-radius: 5px;
}

h3 {
    color: #7d51a0;
}